html{
  height:100%;
  
}
body{
  height:100%;
  margin: 0;
}
div{
 margin:5px;
}

.box{
  height: 400px;
  width: 800px;
  border: solid 4px black;
}

.red{
  background-image: linear-gradient(to bottom, blue, white);;
}

.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
